body {
  margin:0px;
  padding:0px;
  background-color:#f3bf6c
}

#status {
    text-align:center;
    font-size:1.5em
}

button {
    font-size:2em;
    float:right;
    margin-right:5%
}

#canvas {
    margin:0px;
    padding:0px;
    border-width:0px;

    width:100%;
}


